.wrapper{
    display: flex;
    left: 0;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.dark{
    height: 500px;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    left: 0;
}
.fon{
    width: 100vw;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
    position: fixed;
}
.text{
    margin-top: 75px;
    width: 80%;
    z-index: 3;
}
.text_block{
    display: flex;
    width: 100%;
    z-index: 3;
}

@media screen and (max-width: 1170px){
    .wrapper{
        height: 400px;
    }
    .dark{
        height: 400px;
    }
    .text{
        scale: 1.2;
    }
}
@media screen and (max-width: 458px){
    .wrapper{
        height: 300px;
    }
    .dark{
        height: 300px;
    }
    .text{
        scale: 1.2;
    }
}
@media screen and (max-width: 500px){
    .text{
        margin-left: 45px;
    }
}
